body {
    .table-sm td, .table-sm th

{
    font-size: 0.8rem; /* Reducir el tamaño de fuente */
    padding: 0.25rem; /* Reducir el padding */
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5; /* Color de fondo al pasar el ratón */
}

.btn-sm {
    padding: 0.25rem 0.5rem; /* Ajustar el padding de los botones */
    font-size: 0.75rem; /* Reducir el tamaño de fuente de los botones */
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

}